@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(215, 83, 83);
    color: white;

    width: 100vw;
    height: 100vh;

    font: normal 1em Arial;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#interface {
    text-align: center;
}

section {
    background-color: white;
    color: black;

    width: 80vw;
    max-width: 600px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.338);

    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}

section > div > div {
    margin: 15px;
}

div#img-div img {
    width: 80px;
    height: 80px;
}

footer {
    padding: 15px;
}