@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(70, 142, 236);
    color: white;

    width: 100vw;
    height: 100vh;

    font: normal 1em Arial;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#interface {
    text-align: center;
}

section {
    background-color: white;
    color: black;

    width: 500px;
    height: 350px;
    padding: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.338);

    border-radius: 10px;
}

div#img-div {
    border-radius: 50%;
} 

div#img-div img {
    width: 80px;
    height: 80px;
}

footer {
    padding: 15px;
}